<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container">
    <!-- Side navigation bar with parameters -->
    <div class="sidenav" #sidenav [style.width.px]="sideBarWidth">
        <app-param-dropdown [data]="all_params_names" [searchable_items] = "flat_search_params" [dataset]="initial_params.get('database')?.value" [exports]="initial_params.get('exports')?.value" [paired_params]="paired_params"> </app-param-dropdown> 
    </div>
    <div class="resizer" id="resizer" (mousedown)="startResizing($event, sidenav)"></div>

    <!-- Page content -->
    <div class="content">
        
        <!-- Collecting initial params (export/import, dataset, start/end) -->
        <form class="flex-form" [formGroup]="initial_params" (ngSubmit) = onInitialSubmit() novalidate >

            <div class="row">
                <mat-radio-group formControlName = "exports" aria-label="Button to select access export or import data">
                    <mat-radio-button value="exports"> Exports </mat-radio-button>
                    <mat-radio-button value="imports"> Imports </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="row">
                <label for="dropdown"> Select Database: </label>
                <div class="dropdown">
                    <button type="button" class="dropdown-toggle" (click)="toggleDatabaseDrop()"> 
                        <div class="dropdown-text" > {{ initial_params.get('database')?.value }} </div>
                        <i class="fas fa-chevron-right icon" (click) = "toggleDatabaseDrop()" [ngClass]="{'rotate': isDatabaseDrop }"></i>
                    </button>
                    <ul class="dropdown-menu" [class.show]="isDatabaseDrop">
                        <li *ngFor="let item of databases" (click)="setDatabase(item)">
                            <span> {{ item }} </span>
                        </li>
                    </ul>
                        
                </div>
            </div>

            <div class="row">

                <label for="time-start" style="padding: 0px 20px 0px 0px; width: 50%;"> Select a time interval: </label>
                <label for="time-start"> From: </label>
                <input type="month" id="time-start" name="time-start"  formControlName="start" >

                <label style="padding: 0px 00px 0px 40px;" for="time-finish"> To: </label>
                <input type="month" id="time-finish" name="time-finish" formControlName="end" value="2023-01" >

            </div>

            <div class="row" *ngIf="initial_params.errors?.['endAfterStart']" style="color: red;">
                End month must be before start
            </div>

            <div class="row" *ngIf="initial_params.errors?.['startBeforePresent']" style="color: red;">
                Start month must be before present
            </div>

            <div class="row">
                <mat-radio-group formControlName = "time" aria-label="Query with the 'time' or 'YEAR/MONTH' parameter">
                    <mat-radio-button value="time"> Use 'time' parameter to represent dates </mat-radio-button>
                    <mat-radio-button value="ym"> Use 'YEAR' and 'MONTH' to represent dates </mat-radio-button>
                </mat-radio-group>
                <i class="fa fa-info-circle" style="color: grey;" matTooltip="Both methods will generate the same data. The 'YEAR/MONTH' parameters can make the query faster but for longer time frames make the API call very long. The 'time' parameter is consise but can be slightly slower for larger queries."></i>
            </div>

            <div class="row" *ngIf="!areParamsValid" style="color: red;">
                You've selected a value of COMM_LVL that contradicts your prior selection of commodity codes. Please ensure that the
                codes you've selected have the same level of detail as your selection for COMM_LVL.
            </div>
            
            <div class="row">
                <button mat-button class="mat-button" type="submit" [disabled]="(!hasDatasetChanged || !initial_params.get('start')?.value || !initial_params.get('end')?.value || initial_params.invalid || !initial_params.get('time')?.value) && !errorClosed"> Get database-specific parameters </button>
                    <!--
                    <mat-progress-spinner
                        class="example-margin"
                        [mode]="mode">
                    </mat-progress-spinner>
                    -->  
                
            </div>

        </form>

        <!-- Displaying current API call -->
        <div style="padding: 0px 0px 20px 0px;">
            <p style="padding: 0px;"> Current API call: </p>
            <div class="apicall-box" >
                <div class="apicall-text">
                    {{ apiCall }}
                </div>
                <i class="fa-regular fa-clipboard fa-xl" matTooltip="Copy API call" [matTooltipShowDelay]="500" (click)="copyText(apiCall)"></i>
            </div>
        </div>

        <div class="row">
            <button mat-button class="mat-button" (click)="submitQuery()" [disabled]="((!initial_params.get('database') || !initial_params.get('start')?.value || !initial_params.get('end')?.value || initial_params.invalid) && !errorClosed)"> Submit Query </button>
            <!-- <div  *ngIf="isQueryProcessing">
                <mat-progress-spinner
                    class="example-margin"
                    [mode]="mode">
                </mat-progress-spinner>
            </div>
        -->
        </div>

        <!-- Data table  -->
        <div [style.display] ="readyForTableDisp" class="data-table">
            
            <div>
                <div class="dropdown" id="export-dropdown" (click)="toggleExportDrop()">
                    <button type="button" class="dropdown-toggle" style="width: 100%;" (click)="toggleExportDrop()"> 
                        <div class="dropdown-text" (click) = "toggleExportDrop()"> Export Table </div>
                        <i class="fas fa-chevron-right icon" (click) = "toggleExportDrop()" [ngClass]="{'rotate': isExportDrop }"></i>
                    </button>
                    <ul class="dropdown-menu" [class.show]="isExportDrop" style="width: 100%;">
                        <li (click) = "setExportType('CSV')">
                            <span> CSV </span>
                        </li>
                        <li (click) = "setExportType('Excel')">
                            <span> Excel </span>
                        </li>
                        <li (click) = "setExportType('JSON')">
                            <span> JSON </span>
                        </li>
                    </ul>

                </div>
            
            <div class="table-border">
                <div class="table-content">
                    <table mat-table [dataSource]="dataSource" matSort matPaginator>
                
                        <ng-container *ngFor="let item of table_columns" matColumnDef="{{ item }}">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ item }} </th>
                            <td mat-cell *matCellDef="let element"> {{element[item] }} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="table_columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: table_columns;"></tr>
                    </table>
                </div>
    
                <mat-paginator
                    #paginator
                    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                    showFirstLastButtons
                ></mat-paginator>
            </div>
            
        </div>

    </div>

</div>
